#scroll {
    position:fixed;
    margin-right: 8px !important;
    right:10px;
    bottom:10px;
    cursor:pointer;
    z-index: 10;
    width:50px;
    height:50px;
    background-color:#3498db;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}


.logo {
    color: white;
    padding: 20px;
}
.row {
    background-color: black
}
.cls{
    margin-top: 19px;
    position: relative;
}

.fa-search{
    position: absolute;
    color: orange;
    top: 53%;
    left: 2%;
    transform: translateY(-30%);
    width: 100%;
    height: 100%;
    z-index: 1;
    font-size: 20px;
    cursor: pointer;
}
body{
    font-family:'open-sans',sans-serif !important;
}
.form-control{
    padding-left:40px !important;
}

.info-box .money {
    vertical-align: middle;
    padding-top: 20px;
}
.cart .fa-shopping-cart {
    font-size: 21px;

}
 .account {
    padding-left: 100px;
    margin-top: -21px;
    color: white;
}
.account .fa-user-circle {
    font-size: 21px;
}
.cart {
    padding-left: 220px;
    margin-top: -25px;
    color: white;
}
.header {
    border-bottom: 1px solid grey;
}
ul {
    margin-bottom: 0;
}
ul li {
    display: inline-block;
    list-style-type: none;
}
ul li {
    font-size: 17px;
    font-weight: 450;
    padding: 10px 20px;
    margin: 0;  
}
ul li a {
    color: white !important;
    text-decoration: none;
    position: relative;
}
ul li a:hover {
    text-decoration: none;
}
.main-heading ul li a:hover::after{
    visibility: visible;
    opacity: 1;  
}
.main-heading li a::after {
    position: absolute;
    width: 100%;
    bottom: -12px;
    left: 0;
    content: '';
    background: #E09D00;
    height: 5px;
    visibility: hidden;
    opacity: 0;  
}

.header-3 .row {
    background: white;
}
.header-3 {
    text-align: center;
    padding: 5px 0;
    border-bottom: 2px solid lightgray;
}
.header-3 p {
    margin-bottom: 0;
}
.align {
    font-weight: 550;
}


.hero-image .row {
    background: white;
}
.bottom-right {
    position: absolute;
    bottom: -75px;
    right: 128px;
}
.bottom-right .para {
    margin-bottom: 125px;
    margin-right: -90px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
 .hero-image:hover {
    transform: scale(1.01);
    transition: transform .2s ease-out;
}
.hero-img-2 .row {
    background: white;
   
}

.hero-img-2 img {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 400px;
   padding: 10px 0;
   
}
.hero-img-2 .lol {
    padding-left: 15px;
}
.hero-img-2 .lop {
    padding-right: 15px;
}
.hero-img-2 .lkp {
    padding-left: 0;
    padding-right: 0;
} 
.hero-img-2 .col-lg-4:hover {
    transform: scale(1.01);
    transition: transform .2s ease-out;
}
.image-3 .row {
    background: white;
}
.image-41 {
    padding: 0 0 30px;
}
.image-41 .row {
    background: white;
}
.image-41 img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: 10px 0;   
}
.image-41 .lol {
    padding-left: 15px;
}
.image-41 .lop {
    padding-right: 15px;
}
.image-41 .lkp {
    padding-left: 0;
    padding-right: 0;
}
.footer{
    background: black;
    padding: 50px 0px;
}
.footer h3{
    color: #f7f7f7;
    font-size: 14px;
    font-weight: 600;
}
.footer ul {
    margin: 0 !important;
    padding: 0 !important;
}
.footer ul li{
    display: block;
    padding: 0px;
}
.footer ul li a{
    color:#d8d8d8;
    font-size: 12px;
}
.footer ul li a:hover{
    color: #e09d00 !important;
    text-decoration: none;
}
.footer .fa{
    font-size:25px;
    padding-right: 5px;
}
.footer img{
    width: 160px;
    height: 100%;
}
.footer label{
    font-size: 12px;
    color: #d8d8d8;
}
.copyright{
    text-align: center;
    padding-top: 30px;
    padding-bottom:50px;
}
.home-image .row {
    padding-left: 11px;
    background: white;
}
.home-image img {
    padding: 0 5px;
    height: 300px;
    transition: transform .2s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  
}
.home-image img:hover{
    transform: scale(1.01);

}
.home-image .col-lg-4 {
    padding-right: 25px;
    padding-left: 7px;
}
.home-image .col-lg-8{
padding-right: 0px;
}
.image-41 img {
    transition: transform .2s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.image-41 .col-lg-4:hover {
    transform: scale(1.01);
}
.sub-header .row {
    background: white;
}
.sub-header i {
    color: #E09D00;
    margin-left: -46px;
    margin-top: 14px;
}
.sub-header h3 {
    font-size: 1.55rem;
}
.sub-header .row {
    padding: 15px 0 0;
}
.sub-header .hs {
    margin-left: -90px;
    margin-bottom: 14px;
    padding-top: 3px;
}
.sub-header .col-lg-2 p {
    padding-top: 7px;
}
.sub-header .fo i {
    font-size: 13px;
    color: lightgrey !important;
    margin-left: -22px;

}
.sub-header h6 {
    font-size: 16px;
    font-weight: 400;
}


.city-main-img .row {
    
    background: white;
}
.city-main-img p {
    margin-bottom: 15px;
    text-align: center;
    color: white;

}

.city-main-img .bottom {
    background: black;
}
.city-main-img .text p {
    margin-right: 145px;
    margin-bottom: 5px;
    color: black;
} 	
.city-main-img .text {
    margin-top: -61px;
}		
.city-main-img .text1 p {
    margin-right: 99px;
    color: black;
}
.city-main-img .bottom1 p {
    margin-bottom: 77px;
}
.city-main-img .bottom1 p {
    background: black;
}

.city-main-img .text1 p {
    margin-bottom: 5px;
}
.city-main-img h6 {
    text-decoration: line-through;
    margin-left: 100px;
    margin-top: -22px;
}
.city-main-img .col-lg-4 {
    padding: 0 5px 20px;
}
.city-main-img .lll p {
   
    margin-right: 76px;
}
.city-main-img .lll .bottom p {
    text-align: center !important;
    margin-right: 0;
}
.weight {
    font-weight: 400;
}
#left {
    text-align: left;
}
#top {
    margin-top: -88px;
}

.city-main2 .bottom-right {
    position: absolute;
    bottom: 70px;
    right: 39px;
    padding: 25px 60px 25px 30px;
    color: white;
    background: rgba(23, 23, 23, 0.85);
}
.city-main2 .bottom-right h2 {
    font-size: 23px;
}
.city-main2 .bottom-right h4 {
    font-size: 18px;
}
.city-main2 .col-lg-8 {
    padding-left: 5px;
    padding-right: 7px;
}
.city-main3 .row1 {
    margin-top: 0px;
}
.city-main2 .col-lg-8 img {
    height: 66vh !important;
}


li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    height: 380px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    color: rgb(51, 51, 51);
    padding: 5px 20px;
  }
  
  .dropdown-content a {
    color: black !important;
    padding: 4px 16px 4px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {color: #E09D00 !important;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
  .navbar-toggler:focus, .navbar-toggler {
    text-decoration: none;
    border: 1px solid red !important;
}
.navbar-toggler{
color: #E09D00 !important;
}

.nav-btn{
    display:none;
    color:#fff !important;
    border:1px solid #fff;
}
.scintillate{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
}
.scintillate:hover{
    color: #fff;
    text-decoration: none;
}
